DATABASE_URL=postgresql://user:password@localhost/{{cookiecutter.service_name}}
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=1.0
ALLOWED_ORIGINS=http://localhost:3000
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
